* {
    box-sizing: border-box;
}
body {
    /* background-color: #fff; */
    background-color: #C1CFD9;
    margin-top: 60px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(25px);
    border-radius: 20px;
    background-color: #e499ff;
    background-image: radial-gradient(at 47% 69%, hsla(17, 62%, 65%, 1) 0px, transparent 50%),
        radial-gradient(at 9% 32%, hsla(222, 75%, 60%, 1) 0px, transparent 50%);

}

/*small*/
@media (max-width: 767px) {
    .container {
        width: 100%;
    }

}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 750px;
    }
}

/*Large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start  text-out*/
.container .butons-editor .text-out {
    line-height: 1.5;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    letter-spacing: .5px;
    min-height: 50vh;
    outline: none;
}
/* End  text-out*/
/* Start intro-text  */
.container .intro-text {
    padding: 10px;
    text-align: center;
    height: 100px;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.7;   
}
/* End intro-text  */
/* Start Buttons  */
.container .butons-editor .buttons {
    /* background: rgba(255, 255, 255, 0.3); */
    /* background-color: #a7bfe0; */
    background-color: #FFE8FF;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0px;
    position: relative;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    .container .butons-editor .buttons{
    justify-content: start;

    }
}

.container .butons-editor .buttons button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

/* End Buttons  */